.full-body{
    min-height: 80%;
    }
.container-bg{
    background-color: rgb(228, 228, 228);
}
.register-h{
margin-top: 50px;
margin-left: 50px;
}
.input{
width: 100%;
border-style: solid;
border-radius: 3px;
border-color: gray;
border-width: 1px;
padding: 3px 15px 3px 15px;
color: rgb(48, 48, 48);
font-size: 20px;
margin-bottom: 10px;
}

.success-alert{
    background-color: rgb(151, 255, 151);
    border-style: none;
    border-radius: 5px;
    color: green;
    width: 50%;
    padding-left: 15px;
    margin: 5px;
}
.register-btn{
    cursor: pointer;
    width: 40%;
    background-color: rgb(48, 131, 48);
    border-style: none;
    border-radius: 3px;
    color: white;
    padding:3px;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
 }
 .register-btn:hover{
     background-color: rgb(33, 82, 33);
 }

 .input-container{
    width: 90%;
    padding: 10px;
 }
 .input-container p{
    margin-bottom: 0px;
    font-weight: bold;
 }

 .shop-card{
    background-color: rgb(250, 249, 249);
    box-shadow: 0px 3px 15px rgb(189, 189, 189);
    width: 80%;
    margin-top: 50px;
    margin-left: 50px;
    
 }
 .shop-card p{
    padding-left: 15px;
 }

 .header-color{
    background-color: rgb(60, 159, 189);
    width: 100%;
    color: white;
 }
.pro-img {
    max-width: 300px;
     max-height:300px;
     margin-left: 15px;
     
 }

 .textarea {
   width: 100%;
 }
.pro-detail {
    white-space: pre-wrap;
   padding: 0px 15px 0px 15px;
}