.full-body{
    min-height: 80%;
    }
.container-bg{
    background-color:white;
}
.container-h{
    margin-top: 15px;
    display: inline-flex;
}
.header{
    font-size: 25px;
    margin-left: 15px;
}
.input{
    width: 90%;
    padding-left: 5px;
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(89, 180, 142);
}
.input2{
    width: 90%;
    padding-left: 5px;
    margin: 5px;
    height: 100px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(89, 180, 142);
}
.input3{
    width: 90%;
    padding-left: 5px;
    margin: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(89, 180, 142);
}
.tin-info-p{
    margin: 5px;
    margin-bottom: 0px;    
}
.register-btn{
   cursor: pointer;
   width: 40%;
   background-color: rgb(48, 131, 48);
   border-style: none;
   border-radius: 3px;
   color: white;
   padding:3px;
   font-size: 20px;
   margin-bottom: 15px;
   margin-top: 10px;
}
.register-btn:hover{
    background-color: rgb(33, 82, 33);
}

.reg-info-p{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(158, 158, 158);
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    height: 90%;
}
.success-alert{
    background-color: rgb(151, 255, 151);
    border-style: none;
    border-radius: 5px;
    color: green;
    width: 90%;
    padding-left: 15px;
    margin: 5px;
}
.warning-alert{
    background-color: rgb(255, 170, 167);
    border-style: none;
    border-radius: 5px;
    color: red;
    width: 90%;
    padding-left: 15px;
    margin: 5px;
}
