body{
    background-color: green;
}
.logo{
    max-width: 120px;
    margin-top: 150px;
}
.message{
    color: red;
    }
.line{
    width: 40%;
}
.input{
border-style: solid;
border-color: rgb(122, 255, 162);
border-radius: 5px;
font-size: 15px;
border-width: 1px;
width: 40%;
padding: 4px;
margin-bottom: 10px;
}

.button {
cursor: pointer;
padding: 3px 3px;
font-size: 20px;
width: 162px;
background-color: rgb(18, 87, 1);
color: white;
border-radius: 5px;
margin-top: 15px;
margin-bottom: 15px;
border-style: none;
}
.button:hover  {
background-color: rgb(23, 73, 19);
}
.fb-button {
   font-size: 20px;
    padding: 3px 20px 3px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    }
    .fb-button:hover  {
    background-color: rgb(18, 43, 156);
    text-decoration: none;
    color: white;
    }
.signup{
    color: white;
}  


@media (max-width: 576px) {
    .input{
         width: 80%;
        }
        
  }
  
  @media (min-width: 768px) {
  
  }
  
  @media (min-width: 992px) {
 
  }
  
  @media (min-width: 1200px) {
 
  }