{% extends 'base_layout.html' %}

{% load static %}

{% block title %}
<title>አዴተራ│ ማስተዋወቅያ ለመልቀቅ</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'business/advert.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid full-body">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>ማስተዋወቅያ ለመልቀቅ</h1>
            <h3>ውድ ደንበኞቻችን አገልግሎቱን ለማቅረብ በስራ ላይ ነን። በቅርብ ቀን ይጠብቁን!</h3>
        </div>
    </div>
</div>
{% endblock %}